h1 {
  padding-top: 20px;
  text-align: left;
}

h5 {
  text-align: left;
  font-size: 18px;
}
ul {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
}
form {
  text-align: center;
}
button {
  background-color: rgb(252, 252, 161);
  border-radius: 3px;
  border: 1px solid rgb(252, 252, 161);
  box-shadow: 3px 3px 3px grey;
  padding: 4px 10px;
}
button:hover {
  transition: all 200ms ease-in-out;
  background-color: rgb(236, 236, 76);
  opacity: 0, 7;
}
.container {
  text-align: left;
  border: 2px solid none;
  border-radius: 10px;
  max-width: 600px;
  padding: 20px;
  margin-top: 20px;
  background: linear-gradient(
    89.2deg,
    rgb(191, 241, 236) 22.3%,
    rgb(109, 192, 236) 84.1%
  );
  font-family: "Poppins", sans-serif;
  box-shadow: 5px 5px 5px grey;
}

.emoji {
  font-size: 36px;
  line-height: 1;
}
.changeDegree {
  padding-top: 0;
  margin-top: 0;
  font-size: 72px;
  line-height: 1;
}
.degreeToday {
  font-weight: bold;
}
.searching {
  display: block;
  margin: 0 auto;
}
.slash {
  font-size: 24px;
  color: grey;
}
#celcius {
  text-decoration: none;
  font-size: 24px;
  color: grey;
}
#celcius:hover {
  transition: all 200ms ease-in-out;
  color: rgb(109, 108, 108);
}
#fahrenheit {
  text-decoration: none;
  font-size: 24px;
  color: grey;
}

#fahrenheit:hover {
  transition: all 200ms ease-in-out;
  color: rgb(109, 108, 108);
}
#newCity {
  padding: 4px 10px;
  box-shadow: 3px 3px 3px grey;
  border: none;
  border-radius: 3px;
}
#citySearch {
  padding: 4px 10px;
  box-shadow: 3px 3px 3px grey;
  border: none;
  border-radius: 3px;
}
